$blue: #0088e9;
$blue-light: #47b3ff;
$blue-dark: #004273;

/* Global CSS variables */
:root {
  // Colours
  --blue: #0088e9;
  --blue-semi: #0088e980;
  --blue-light: #47b3ff;
  --blue-dark: #004273;
  --yellow: #fdc830;
  --white: #ffffff;
  --white-light: #fafafa;
  --white-dark: #e5e5e5;
  --grey: #8f8f90;
  --grey-light: #bcc5d3;
  --grey-lighter: #dbdfe7;
  --grey-lightest: #f3f5f7;
  --black: #101010;
  --black-light: #3b3b3c;
  --black-light-semi: #3b3b3cbb;
  --scrollbar: #ebebf0;
  --border: #23272b;
  --border-light: #394255;
  --border-semi: #23272b80;
  // rem px (optional)
  --px8: 0.5rem;
  --px12: 0.75rem;
  --px18: 1.125rem;
  --px24: 1.5rem;
  --px32: 2rem;
  --px36: 2.25rem;
  --px44: 2.75rem;
  --px48: 3rem;
  --px60: 3.75rem;
  --px120: 7.5rem;
  --px1440: 90rem;
}

/* CSS reset */

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

body * {
  position: relative;
  background: transparent;
  padding: 0rem;
  margin: 0rem;
  line-height: 150%;
  font-style: normal;
  font-family: Montserrat;
  font-weight: 600;
  letter-spacing: 0rem;
  vertical-align: baseline;
  list-style: none;
  border: 0rem;
  border-spacing: 0rem;
  border-collapse: collapse;
  outline: none;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
input[type="text"],
input[type="text"]::placeholder,
input[type="email"],
input[type="email"]::placeholder,
input[type="number"],
input[type="number"]::placeholder,
input[type="password"],
input[type="password"]::placeholder,
textarea {
  color: var(--black);
  font-size: 1rem;
  font-family: Montserrat;
  font-weight: 500;
  text-decoration: none;
  word-wrap: break-word;
  line-height: 150%;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="search"]::-webkit-search-cancel-button {
  cursor: pointer;
}

button {
  font-family: Montserrat;
  font-size: 1rem;
  font-weight: 500;
  overflow: hidden;
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

table,
thead,
tbody,
tr,
th,
td {
  border: none;
}

svg {
  transition: all 300ms ease;

  * {
    transition: all 300ms ease;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar);
  margin: 0.125rem;
  border-radius: 1rem;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb {
  background: var(--border);
  border-radius: 1rem;
  border: 0.1rem solid transparent;
  background-clip: padding-box;
}
@media (hover: hover) and (pointer: fine) {
  ::-webkit-scrollbar-thumb:hover {
    background: var(--black);
    border-radius: 1rem;
    border: 0.1rem solid transparent;
    background-clip: padding-box;
  }
}
/* App CSS */

#_app {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: visible;
  min-height: 100vh;
}
