@import "./app.mixins.scss";

.banner {
  position: absolute;
  min-width: 100%;
  height: 100%;
  min-height: 100vh;
  top: 0rem;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(35, 39, 43, 0.9) 0%,
      rgba(35, 39, 43, 0.72) 0.01%,
      rgba(35, 39, 43, 0.36) 100%
    );
    mix-blend-mode: normal;
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }
}

.main {
  background: var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: max-content;
  min-height: 100vh;
  padding: 3.5rem 1.5rem 17.5rem 1.5rem;

  & > h1 {
    width: 100%;
    color: var(--white);
    font-family: Montserrat;
    font-size: 1.875rem;
    font-weight: 700;
    line-height: 150%;
    text-align: left;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  & > h2 {
    width: 100%;
    color: var(--white);
    font-family: Montserrat;
    font-size: 1rem;
    font-weight: 600;
    line-height: 150%;
    text-align: left;
    margin-top: 0.5rem;
  }

  &_search {
    margin-top: 3.125rem;
    margin-bottom: 6.25rem;
    width: 100%;
    max-width: 48rem;
    height: 50px;
  }
}

.scroll_container {
  width: 100%;
  // height: auto;
}

.scroll {
  position: absolute;
  bottom: -0.125rem;
  width: 100%;
  height: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  &_img {
    position: absolute;
    width: 100%;
    height: 10rem;
  }
  &_button {
    background: var(--black);
    width: 2.5rem;
    height: 2.5rem;
    border: 0.25rem solid var(--border);
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
    @include hoverp;
  }
  & > p {
    color: #727273;
    font-size: 1rem;
    font-weight: 600;
    font-family: Montserrat;
    margin-top: 0.75rem;
  }
}

.statistics {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 6.25rem;
  width: 100%;
  max-width: 80rem;
  &_map {
    position: absolute;
    top: 20rem;
    width: 100%;
    height: 100%;
    max-width: 90rem;
    max-height: 30rem;
  }
  &_title {
    margin-top: 5rem;
    & > h2 {
      color: var(--white);
      font-size: 1.5rem;
      font-weight: 700;
      font-family: Montserrat;
      line-height: 2.25rem;
      text-align: center;
    }
    & > p {
      margin-top: 1rem;
      color: var(--grey-light);
      font-size: 1rem;
      font-weight: 600;
      font-family: Montserrat;
      line-height: 1.5rem;
      text-align: center;
    }
  }
  &_list {
    display: grid;
    row-gap: 3.75rem;
    align-items: center;
    justify-items: center;
    width: 100%;
    padding: 1.5rem 0.5rem;
    margin-top: 3.75rem;
    &_card {
      min-width: 16rem;
      width: 100%;
      max-width: 25rem;
      border-radius: 1.25rem;
      border: 0.5rem solid var(--border);
      display: grid;
      row-gap: 1rem;
      padding: 2.25rem 1.5rem;
      background: var(--border-semi);
      & > p:nth-child(1) {
        color: var(--yellow);
        font-size: 2rem;
        font-weight: 700;
        font-family: Montserrat;
        line-height: 3rem;
        text-align: center;
      }
      & > p:nth-child(2) {
        color: var(--grey-light);
        font-size: 1rem;
        font-weight: 600;
        font-family: Montserrat;
        line-height: 1.2rem;
        text-align: center;
      }
    }
    &_card_text_1 {
      position: absolute;
      bottom: -2.5rem;
      left: 0;
    }
    &_card_text_2 {
      position: absolute;
      top: -1.5rem;
      right: 0;
    }
    &_card_text_3 {
      position: absolute;
      bottom: -1.5rem;
      right: 3rem;
    }
  }
}

.steps {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 90rem;
  padding: 8rem 0.5rem 0.5rem 0.5rem;

  &_title {
    & > h2,
    & > h2 > span {
      display: inline-block;
      color: var(--white);
      font-size: 1.25rem;
      font-weight: 700;
      font-family: Montserrat;
      line-height: 2.25rem;
      text-align: center;
    }
    & > h2 > span:nth-child(2) {
      padding: 0rem 0.5rem;
    }
    &_future {
      position: absolute;
      top: -3rem;
      left: 0;
    }
  }
  &_list {
    display: grid;
    justify-items: center;
    row-gap: 2.5rem;
    margin-top: 3.75rem;
    margin-bottom: 5rem;
    &_card {
      max-width: 21rem;
      padding: 0rem 1rem;

      &_step {
        position: absolute;
        & > svg {
          position: absolute;
        }
        & > p {
          color: var(--white);
          font-size: 1rem;
          font-weight: 600;
          font-family: Montserrat;
          letter-spacing: 0.1rem;
          transform: translate(-1rem, 2.75rem) rotate(270deg);
        }
      }
      &_body {
        margin-left: 2.25rem;
        background: var(--border);
        height: 100%;
        min-height: 9rem;
        border-radius: 0rem 1.25rem 1.25rem 1.25rem;
        border: 0.25rem solid var(--border-light);
        padding: 1.25rem;
        box-shadow: 0.75rem 1rem #000000;
        & > p:nth-child(1) {
          color: var(--white-light);
          font-size: 1.25rem;
          font-weight: 700;
          font-family: Montserrat;
          line-height: 120%;
          &::after {
            content: "";
            position: absolute;
            bottom: -0.65rem;
            left: 0;
            width: 2.75rem;
            height: 0.25rem;
            background: var(--blue);
            border-radius: 0.25rem;
          }
        }
        & > p:nth-child(2) {
          margin-top: 1.5rem;
          color: var(--grey);
          font-size: 1rem;
          font-weight: 500;
          font-family: Mulish;
          line-height: 120%;
        }
      }
    }
  }
}

.accomodation {
  display: grid;
  grid-template-columns: auto;
  row-gap: 1rem;
  column-gap: 1rem;
  align-items: center;
  justify-items: center;
  justify-content: center;

  width: 100%;
  max-width: min(50rem, 95vw);
  padding: 1.375rem;

  border: 0.25rem solid var(--border);
  border-radius: 0.625rem;
  margin-bottom: 6.25rem;

  @media only screen and (min-width: 30rem) {
    grid-template-columns: auto auto;
  }

  & > p {
    color: var(--grey);
    font-family: Mulish;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;

    @media only screen and (min-width: 30rem) {
      text-align: left;
    }
  }

  & > p > span {
    color: var(--grey-lighter);
    font-family: Mulish;
    font-size: 1.0625rem;
    font-weight: 700;
  }
}

.suggestions {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 90rem;
  padding: 0.5rem;
  margin-bottom: 6.25rem;
  &_title {
    & > h2 {
      color: var(--white);
      font-size: 1.5rem;
      font-weight: 700;
      font-family: Montserrat;
      line-height: 2.25rem;
      text-align: center;
    }
  }
  &_carousel {
    width: 100%;
    max-width: 80rem;
    margin-top: 3rem;
  }
  &_list {
    &_card {
      $suggestion_default: #101318;
      $suggestion_hover: #394255;
      $suggestion_click: var(--blue);

      max-width: 22.5rem;
      background: var(--border);
      border: 0.25rem solid $suggestion_default;
      border-radius: 1.25rem;
      overflow: hidden;
      @include hover;

      &::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        width: 5.25rem;
        height: 5.25rem;
        background: transparent;
        border: 1rem solid $suggestion_default;
        border-radius: 50%;
        transform: translate(45%, 45%);
      }

      &_images {
        &_banner {
          width: 100%;
          height: auto;
          border-radius: 1rem 1rem 0rem 0rem;
          overflow: hidden;
        }
        &_logo {
          position: absolute !important;
          left: 1.5rem;
          top: 2.75rem;
          width: 3.75rem;
          height: 3.75rem;
          border-radius: 0.25rem;
          overflow: hidden;
          z-index: 1;
        }
      }
      &_wave {
        width: 100%;
        transform: translateY(-72.5%);
        & > path {
          fill: $suggestion_default;
        }
      }
      &_body {
        padding: 1.5rem 1rem;

        p:nth-child(1) {
          color: var(--white-light);
          font-family: Montserrat;
          font-size: 1rem;
          font-weight: 700;
          line-height: 1.1875rem;
          letter-spacing: 0em;
          z-index: 1;
        }
        p:nth-child(2) {
          color: var(--grey-light);
          font-family: Mulish;
          font-size: 1rem;
          font-weight: 500;
          line-height: 1.1875rem;
          letter-spacing: 0.02rem;
          margin-top: 0.5rem;
          z-index: 1;
        }
        p:nth-child(3) {
          color: var(--grey);
          font-family: Mulish;
          font-size: 0.875rem;
          font-weight: 500;
          line-height: 1.3125rem;
          letter-spacing: 0.02rem;
          margin-top: 1.5rem;
          z-index: 1;
        }
      }

      @media (hover: hover) and (pointer: fine) {
        &:hover {
          border-color: $suggestion_hover;
        }
        &:hover::after {
          border-color: $suggestion_hover;
        }
        &:hover &_wave > path {
          fill: $suggestion_hover;
        }
      }
      &:active {
        border: 0.25rem solid $suggestion_click;
      }
      &:active::after {
        border-color: $suggestion_click;
      }
      &:active &_wave > path {
        fill: $suggestion_click;
      }
    }
  }
}

.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 90rem;
  padding: 0.5rem;
  margin-bottom: 6.25rem;
  &_title {
    & > h2 {
      color: var(--white);
      font-size: 1.5rem;
      font-weight: 700;
      font-family: Montserrat;
      line-height: 2.25rem;
      text-align: center;
    }
    & > p {
      margin-top: 1rem;
      color: var(--grey-light);
      font-size: 1rem;
      font-weight: 600;
      font-family: Montserrat;
      line-height: 1.5rem;
      text-align: center;
    }
  }
  &_carousel {
    margin-top: 4.25rem;
    width: 100%;
    max-width: 80rem;
  }
  &_list {
    &_card {
      height: 100%;
      max-width: 21.5rem;
      background: var(--border);
      border-radius: 1.25rem;
      border: 0.125rem solid var(--border-light);
      padding: 0rem 1rem 1rem 1rem;
      @include hover;

      &_image {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 6rem;
        height: 6rem;
        border-radius: 1.25rem;
        background: var(--white-light);
        transform: translate(-0.5rem, -1.5rem);

        & > div {
          border-radius: 1rem;
        }
      }
      & > p:nth-child(2) {
        color: var(--white-light);
        font-family: Montserrat;
        font-weight: 600;
        font-size: 1.125rem;
        line-height: 150%;
      }
      & > p:nth-child(3) {
        color: var(--grey-light);
        font-family: Mulish;
        font-weight: 500;
        font-size: 1rem;
        line-height: 120%;
        margin-top: 1.125rem;
      }
      & > p:nth-child(4) {
        color: var(--grey);
        font-family: Mulish;
        font-weight: 500;
        font-size: 1rem;
        line-height: 120%;
        margin-top: 2rem;
      }
    }
  }
}

.articles {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &_title {
    margin-top: 6.25rem;
    width: 100%;
    & > h2 {
      color: var(--white);
      font-size: 1.5rem;
      font-weight: 700;
      font-family: Montserrat;
      line-height: 2.25rem;
      text-align: center;
      padding: 0rem 1rem;
    }
    &_look_mom {
      position: absolute;
      top: 0;
      right: 0.5rem;
      transform: translate(0%, -75%);
    }
  }

  &_list {
    max-width: 80rem;
    padding: 3.375rem 1.125rem 5.25rem 1.125rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    row-gap: 1.875rem;
    & > a {
      @include hover;
    }
  }
}

.statistics_list,
.steps_list,
.accomodation,
.suggestions_carousel,
.testimonials_carousel,
.articles_list {
  opacity: 0;
  transform: translateY(3.75rem);
}

@media only screen and (min-width: 336px) {
  .steps {
    &_title {
      & > h2,
      & > h2 > span {
        font-size: 1.5rem;
      }
    }
  }
}

@media only screen and (min-width: 30rem) {
  .landing {
    & > h1,
    & > h2 {
      text-align: center;
    }
  }

  .articles {
    &_title {
      width: auto;
      &_look_mom {
        transform: translate(50%, -75%);
      }
    }
  }
}

@media only screen and (min-width: 48rem) {
  .suggestions_list,
  .testimonials_list {
    grid-template-columns: 1fr 1fr;
  }
  .articles {
    &_list {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

@media only screen and (min-width: 64rem) {
  .statistics {
    &_map {
      top: 6rem;
    }
    &_list {
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 3.875rem;
    }
  }
  .steps {
    &_list {
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 3rem;
    }
  }
  .articles {
    &_list {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}

@media only screen and (min-width: 80rem) {
  .statistics {
    &_list {
      &_card {
        padding: 2.25rem 4rem;
      }
    }
  }
  .steps {
    &_list {
      column-gap: 5rem;
      &_card {
        max-width: 22rem;
      }
    }
  }
  .suggestions_list,
  .testimonials_list {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .articles {
    &_list {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
  }
}
